# please upstream changes!
# https://gitlab.servalldatasystems.com/meat-n-potatoes/dotfiles

# having problems? see: https://gitlab.servalldatasystems.com/servall/developer-wiki/blob/master/docs/private-npm-registry.md
@servall:registry=https://npm.servalldatasystems.com/
